# -----------------------------

# Python

# -----------------------------

__pycache__/
_.py[cod]
_.so

# -----------------------------

# Virtual Environment

# -----------------------------

venv/
.venv/
env/
ENV/

**/venv/*
**/.venv/*
lib64/
venv/
bin/
lib/
include/

# -----------------------------

# Jupyter Notebooks

# -----------------------------

.ipynb_checkpoints/

# Optional: ignore notebooks entirely

# \*.ipynb

# -----------------------------

# Data (VERY IMPORTANT)

# -----------------------------

data/

# If you want to keep folder but not files:

# data/\*

# !data/.gitkeep

# -----------------------------

# Outputs / Results

# -----------------------------

output/
outputs/
_.csv
_.xlsx
\*.parquet

# -----------------------------

# Logs

# -----------------------------

logs/
\*.log
airflow.db
*.pid

# -----------------------------
# Docker / Database
# -----------------------------
postgres_data/
db_data/
pgdata/

# -----------------------------

# OS / Editor junk

# -----------------------------

.DS_Store
Thumbs.db

# VS Code

.vscode/

# -----------------------------

# Environment files

# -----------------------------

.env
.env.\*
